{% extends 'base.html' %}
{% block content %}

<div class="container ciclo-container">
    <div class="ciclo-header">
        <button class="btn-fechar" id="btn-voltar-diario">⇦</button>
        <h1>Ciclo da Violência</h1>
    </div>

    <section class="indicador-violencia">
        <p>Com base nas suas respostas de hoje, a situação se encontra em:</p>
        <div class="circular-progress-container">
            <div class="circular-progress">
                <span class="progress-value">0%</span>
            </div>
        </div>
        <p id="situacaoText">Ainda não há dados para analisar a situação.</p>
    </section>

</div>

<script src="{{ url_for('static', filename='ciclo.js') }}"></script>

{% endblock %}