<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página inicial do Diário da Mulher">
    <title>Início</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>    
    <header></header>
    <main>
        <div class="container">
            <div class="saudacao" id="nomeSaudacao"> Seja bem vida ao Diário da Mulher!</div>
        </div>
    </main>
    <footer></footer>

    <script>
        let nome = "Isadora"
        document.getElementById("nomeSaudacao").textContent = "Seja bem vida ao Diário da Mulher, "+nome+"!"
    </script>
</body>
</html>