{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Meu Perfil</h1>

            <table class="table mt-4">
                <tbody>
                    <tr>
                        <th>Nome:</th>
                        <td>{{ current_user.nome }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ url_for('editar_conta') }}" class="btn btn-outline-primary">Editar Email e Senha</a>
        </div>
    </div>
</div>

{% endblock %}
